<header>


    <a href="/">
        <div class="logo">
            <h1>Gordão</h1>
            <div class="ball"></div>
        </div>
    </a>

    <nav>
        <a href="/pecas"><p>Peças</p></a>
        <a href="/about"><p>Quem somos</p></a>
    </nav>

</header>