<header>

    <% if (arrow===true) { %>

        <div class="container-logo">
            <a href="/pecas"><i class="fa-solid fa-circle-arrow-left"></i></a> 

            <a href="/">
                <div class="logo">
                    <h1>Gordão</h1>
                    <div class="ball"></div>
                </div>
            </a>
        </div>
        <% } else { %>

            <a href="/">
                <div class="logo">
                    <h1>Gordão</h1>
                    <div class="ball"></div>
                </div>
            </a>

            <% } %>

                <nav>
                    <a href="/pecas">
                        <p>Peças</p>
                    </a>
                    <a href="/about">
                        <p>Quem somos</p>
                    </a>
                </nav>

</header>