<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS e Favicon -->
    <link rel="stylesheet" href="global.css">
    <link rel="shortcut icon" href="/assets/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="about.css">

    <title>Quem Somos - GORDAO</title>
</head>

<body>

    <%- include('../views/partials/header', { arrow: false }) %>

        <div class="all">


            <div class="int-top">
                <div class="int serra">
                    <img src="/assets/eu.jpg" alt="">
                    <h1>Samuel Serra</h1>
                    <p>Programador Full Stack - JS, HTML, CSS, C#, Python</p>
                    <a href="/assets/serracurriculo.pdf" download="/assets/serracurriculo.pdf"><button>Download CV</button></a>
                </div>

                <div class="int biel">
                    <img src="/assets/biel.jpeg" alt="">
                    <h1>Gabriel Fonseca</h1>
                    <p>Programador FrontEnd - HTML, CSS</p>
                    <a href="/assets/bielcurriculo.pdf" download="/assets/bielcurriculo.pdf"><button>Download CV</button></a>
                </div>

                <div class="int paolo">
                    <img src="/assets/paolo.jfif" alt="">
                    <h1>Paulo Vítor Martins</h1>
                    <p>Programador FrontEnd - HTML, CSS</p>
                    <a href="/assets/paolocurriculo.pdf" download="/assets/paolocurriculo.pdf"><button>Download CV</button></a>
                </div>
            </div>

            <div class="int-bottom">
                <div class="int viana">
                    <img src="/assets/viana.jpeg" alt="">
                    <h1>Samuel Viana</h1>
                    <p>Programador FrontEnd - HTML, CSS</p>
                    <a href="/assets/vianacurriculo.docx" download="/assets/vianacurriculo.docx"><button>Download CV</button></a>
                </div>

                <div class="int dede">
                    <img src="/assets/dede.jpeg" alt="">
                    <h1>André Kirst</h1>
                    <p>Programador Full Stack - HTML, CSS, C#</p>
                    <a href="/assets/dedecurriculo.jpeg" download="/assets/dedecurriculo.jpeg"><button>Download CV</button></a>
                </div>

            </div>

        </div>


</body>

</html>