<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS e Favicon -->
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="global.css">
    <link rel="shortcut icon" href="/assets/logo.svg" type="image/x-icon">

    <title>GORDAO - Home</title>
</head>

<body>

    <div class="random-circle"></div>
    <div class="random-circle r2"></div>


    <%- include('../views/partials/header') %>


        <main>

            <div class="main">

                <div class="home-text">
                    <h1>Melhor <strong>custo benefício</strong> do mercado</h1>
                    <p>Este computador foi feito com todo conhecimento adquirido na aula do Gordo - COTEMIG</p>
                    <a href="/pecas"><button>Começar</button></a>
                </div>



                <img src="/assets/bgimg.png" alt="">
            </div>

        </main>

        <!-- ======== Srcipts ======== -->
        <script src="https://kit.fontawesome.com/b5c29d615b.js" crossorigin="anonymous"></script>
        <script type="module" src="index.js"></script>
        <script src="scrollreveal.js"></script>

</body>

</html>