<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS e Favicon -->
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/pecas.css">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    
    <!-- ======== Srcipts ======== -->
    <script src="https://kit.fontawesome.com/b5c29d615b.js" crossorigin="anonymous"></script>
    <script type="module" src="/js/index.js"></script>
    <script src="/js/scrollreveal.js"></script>

    <title>Pecas - GORDAO</title>
</head>
<body>

    <div class="random-circle"></div>
    <div class="random-circle r2"></div>
    
    <%- include('../views/partials/header', { arrow: false }) %>

    <div class="main-container">

        <div class="top">
            <a href="/pecas/placamae"><div id="PlacaMae"><p class="placamae">Placa Mãe</p></div></a>
            <a href="/pecas/processador"><div id="Processador"><p class="processador">Processador</p></div></a> 
            <a href="/pecas/memoriaram"><div id="RAM"><p class="ram">Memória RAM</p></div></a> 
            <a href="/pecas/ssd"><div id="SSD"><p class="ssd">SSD</p></div></a> 
            <a href="/pecas/monitor"><div id="Monitor"><p class="monitor">Monitor</p></div></a> 
        </div>

        <div class="bottom">
            <a href="/pecas/placadevideo"><div id="PlacaVideo"><p class="placavideo">Placa de Vídeo</p></div></a>
            <a href="/pecas/fonte"><div id="Fonte"><p class="fonte">Fonte</p></div></a>
            <a href="/pecas/cooler"><div id="Cooler"><p class="cooler">Cooler</p></div></a>
            <a href="/pecas/gabinete"><div id="Gabinete"><p class="gabinete">Gabinete</p></div></a>
            <a href="/pecas/perifericos"><div id="perifericos"><p class="perifericos">Periféricos</p></div></a>
        </div>
        
    </div>

    <%- include('../views/partials/footer') %> 


</body>
</html>