@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: .6rem;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #40AA0B;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right top, #696969, #595e67, #3f5661, #1e4f54, #00463d, #00473e, #00483f, #004940, #22545a, #465e6a, #636871, #767676);
}

header {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
}

header div.logo {
    display: flex;
    align-items: center;
    color: aliceblue;
    cursor: pointer;
}

header div.logo h1 {
    font-family: 'Quicksand', sans-serif;
}

header div.logo div.ball {
    margin-top: 1rem;
    margin-left: .4rem;
    width: .4rem;
    height: .4rem;
    border-radius: 1rem;
    background-color: #40AA0B;
}

nav {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    width: 12rem;
    color: aliceblue;
    font-size: 1rem;
    justify-content: space-between;
}

nav div,
nav p {
    cursor: pointer;
    transition: ease-in-out .3s;
}

nav p {
    color: rgba(255, 255, 255, .5);
}

nav p:hover {
    color: aliceblue;
}

/* ----- Footer ----- */
footer {
    width: 100%;
    position: fixed;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    height: 4rem;
    background-color: transparent;
    padding: 3rem;
}

footer p {
    color: aliceblue;
}



/* ---- button ----- */
button{
    text-decoration: none;
    letter-spacing: 2px;
    color: #40AA0B;
    background-color: transparent;
    border: 2px solid #40AA0B;
    padding: .8rem 1.6rem;
    border-radius: 8px;
    transition: ease-in-out .3s;
    cursor: pointer;
}

button:hover {
    background-color: #40AA0B;
    border: 2px solid #40AA0B;
    color: aliceblue;
}
