<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../global.css">
    <link rel="stylesheet" href="../home.css">
    <title>Cooler - GORDAO</title>
</head>

<body>

    <%- include('../partials/header') %>

        <main>

            <div class="main-content">

                <div class="text-long">

                    <h1><strong>Cooler</strong></h1>
                    <p>Função- A princípio, o processador é a peça que realiza a maior parte do trabalho em um
                        computador. Devido a grande circulação de energia elétrica durante sua atividade, o processador
                        aquece muito rápido. Dessa forma, o cooler tem a função de reduzir o calor gerado pelo
                        processador, evitando que ele superaqueça ou queime.</p>
                    <p>Recomendação: <a
                            href="https://www.terabyteshop.com.br/produto/13649/cooler-para-processador-deepcool-gammaxx-400-v2-led-red-120mm-intel-amd-dp-mch4-gmx400v2-rd"
                            class="links" target="_blank">DeepCool_Gammaxx/400_V2/Red/120mm</a></p>
                </div>

            </div>

            <img src="/assets/cooler.png" alt="">

        </main>
</body>

</html>