<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../global.css">
    <link rel="stylesheet" href="../home.css">
    <title>Fonte - GORDAO</title>
</head>

<body>

    <%- include('../partials/header') %>

        <main>

            <div class="main-content">

                <div class="text-long">

                    <h1><strong>Fonte</strong></h1>
                    <p>Potência- A potência é medida em Watts (W) e serve para você ter noção de quantos componentes
                        podem ser alimentados. Basta verificar a quantidade de corrente que ela dispõe na linha de 12 V
                        (por exemplo: pode ser que ela forneça 40 A) e multiplicar esse valor por 12. O resultado se
                        dará em Watts.</p>
                    <p>Certificação 80 plus- A certificação é adquirida para produtos que tenham mais de 80% de
                        eficiência energética.</p>
                    <p>Recomendação: <a
                            href="https://www.terabyteshop.com.br/produto/13094/fonte-redragon-rgps-500w-80-plus-bronze-pfc-ativo-gc-ps001"
                            class="links" target="_blank">Fonte_Redragon/RGPS_500W/80_Plus_Bronze/PFC_Ativo/GC-PS001</a>
                    </p>

                </div>

            </div>

            <img src="/assets/fonte.webp" alt="">

        </main>
</body>

</html>