<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/assets/logo.svg" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../global.css">
    <link rel="stylesheet" href="../home.css">
    <title>Gabinete - GORDAO</title>
</head>

<body>

    <%- include('../partials/header') %>

        <main>

            <div class="main-content">

                <div class="text-long">

                    <h1><strong>Gabinete</strong></h1>
                    <p>Potência- A potência é medida em Watts (W) e serve para você ter noção de quantos componentes
                        podem ser alimentados. Basta verificar a quantidade de corrente que ela dispõe na linha de 12 V
                        (por exemplo: pode ser que ela forneça 40 A) e multiplicar esse valor por 12. O resultado se
                        dará em Watts.</p>
                    <p>Recomendação:<a
                            href="https://www.terabyteshop.com.br/produto/18718/gabinete-gamer-montech-fighter-500-mid-tower-vidro-temperado-black-atx"
                            class="links" target="_blank">Gabinete Gamer Montech FIGHTER 500, Mid Tower, Black, ATX, 4 Fans, Vidro
                            Temperado</a></p>

                </div>

            </div>

            <img src="/assets/gabinete.webp" alt="">

        </main>
</body>

</html>