<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../partials/head_pecas', { title: 'Gabinete' }) %> 
</head>

<body>

    <%- include('../partials/header', { arrow: true}) %>

        <main>

            <div class="main-content">

                <div class="text-long">

                    <h1><strong>Gabinete</strong></h1>
                    <p>Potência - A potência é medida em Watts (W) e serve para ter noção de quantos componentes
                        podem ser alimentados. Basta verificar a quantidade de corrente que ela dispõe na linha de 12 V
                        (por exemplo: pode ser que ela forneça 40 A) e multiplicar esse valor por 12. O resultado se
                        dará em Watts.</p>
                    <p>Recomendação:<a
                            href="https://www.terabyteshop.com.br/produto/18718/gabinete-gamer-montech-fighter-500-mid-tower-vidro-temperado-black-atx"
                            class="links" target="_blank">Gabinete Gamer Montech FIGHTER 500, Mid Tower, Black, ATX, 4 Fans, Vidro
                            Temperado</a></p>

                </div>

            </div>

            <img src="/assets/gabinete.webp" alt="">

        </main>
</body>

</html>