<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../partials/head_pecas', { title: 'Monitor' }) %>
</head>

<body>

    <%- include('../partials/header', { arrow: true}) %>

        <main>

            <div class="main-content">

                <div class="text-long">

                    <h1><strong>Monitor</strong></h1>
                    <p>LED- As imagens são geradas a partir da iluminação de diodos de luz, que não levam mercúrio na
                        sua composição.
                    </p>

                    <p>Full HD- É a resolução 1920 x 1080p, no formato largura x altura de pixels. Lembrando que quanto
                        mais pixels mais nítida a imagem.
                    </p>

                    <p>4K- É a resolução 3840 x 2160, o dobro do FHD e 4 vezes o HD padrão.
                    </p>

                </div>


            </div>

            <img src="/assets/monitor.png" alt="">



        </main>
        <%- include('../partials/footer') %>

</body>

</html>