<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../global.css">
    <link rel="stylesheet" href="../home.css">
    <title>Monitor - GORDAO</title>
</head>

<body>

    <%- include('../partials/header') %>

        <main>

            <div class="main-content">

                <div class="text-long">

                    <h1><strong>Monitor</strong></h1>
                    <p>LED- As imagens são geradas a partir da iluminação de diodos de luz, que não levam mercúrio na
                        sua composição.
                    </p>

                    <p>Full HD- É a resolução 1920 x 1080p, no formato largura x altura de pixels. Lembrando que quanto
                        mais pixels mais nítida a imagem.
                    </p>

                    <p>4K- É a resolução 3840 x 2160, o dobro do FHD e 4 vezes o HD padrão.
                    </p>

                </div>


            </div>

            <img src="/assets/monitor.png" alt="">

        </main>
</body>

</html>