<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../global.css">
    <link rel="stylesheet" href="../home.css">
    <title>Periféricos - GORDAO</title>
</head>

<body>

    <%- include('../partials/header') %>

        <main>

            <div class="main-content">

                <div class="text-long">
                    <h1><strong>Periféricos</strong></h1>
                    <p>Ergonomia Teclado - Um teclado ergonômico por exemplo, é uma adaptação de um dispositivo ao seu
                        operador e a tarefa que ele realiza. Sendo assim, quando você olha para um teclado comum com
                        esse entendimento, e para um teclado ergonômico.
                    </p>

                    <p>Bluetooth Teclado - Um teclado ergonômico por exemplo, é uma adaptação de um dispositivo ao seu
                        operador e a tarefa que ele realiza. Sendo assim, quando você olha para um teclado comum com
                        esse entendimento, e para um teclado ergonômico.

                    </p>

                    <p>Teclado Mecânico - Teclados mecânicos são fundamentalmente diferentes e mais difíceis de serem
                        encontrados do que os convencionais. Ao contrário dos modelos que usam membranas, a maioria
                        entre os que acompanham PCs gratuitamente, os mecânicos oferecem um mecanismo separado para cada
                        botão, resultando em melhor feedback e mais durabilidade.


                    </p>

                    <p>DPI Mouse - DPI é o padrão usado para medir a sensibilidade do mouse, expressa como o número de
                        DPIs (pontos por polegada linear) que um dispositivo pode detectar. </p>

                    <p>Ergonomia Mouse - Os mouses ergonômicos foram feitos para oferecer o maior nível possível de
                        conforto para os usuários. São projetados para encaixar na mão de uma maneira natural e, assim,
                        garantir um posicionamento do antebraço e dos dedos que diminua a pressão e o desgaste.</p>

                    <p>Desempenho Mouse - O desempenho de um mouse depende principalmente de seu sensor que existem
                        diferentes tipos, como o de bolinha( que não é mais usado), o sensor óptico e o à laser.</p>
                </div>
            </div>

            <img src="/assets/perifericos.png" alt="">

        </main>
</body>

</html>