<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../global.css">
    <link rel="stylesheet" href="../home.css">
    <title>Placa de Vídeo - GORDAO</title>
</head>

<body>

    <%- include('../partials/header') %>

        <main>

            <div class="main-content">

                <div class="text-long">

                    <h1><strong>Placa de Vídeo</strong></h1>
                    <p>HDMI- É através dela que Smart TVs, televisores de modo geral, notebooks, videogames, DVDs,
                        Blu-Ray e outros equipamentos se conectam, para te trazer uma experiência audiovisual incrível.
                    </p>
                    <p>VGA- É um tipo de conector entre computadores e monitores ou televisores.</p>
                    <p>DVI- É um conector que usa sinal digital para transferir imagens da placa de vídeo para monitores
                        e projetores digitais.</p>
                    <p>Recomendação: <a
                            href="https://pt.aliexpress.com/item/1005002957710469.html?spm=a2g0s.8937460.0.0.2ea32e0esAkUf3&gatewayAdapt=glo2bra"
                            class="links" target="_blank">GIGABYTE_GTX_1060_5GB</a></p>

                </div>


            </div>

            <img src="/assets/placavideo.png" alt="">

        </main>
</body>

</html>