<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../partials/head_pecas', { title: 'Placa-Mãe' }) %> 
</head>

<body>

    <%- include('../partials/header', { arrow: true}) %>

        <main>

            <div class="main-content">

                <div class="text-long">

                    <h1><strong>Placa-Mãe</strong></h1>
                    <p>Chipset- Chipset se refere a um conjunto de circuitos integrados que são responsáveis por fazer
                        com que todos os componentes do computador, desde o disco rígido até o processador, possam
                        trocar informações e assim realizar as tarefas que exigimos deles.
                    </p>

                    <p>Slot de expansão- Um slot de expansão refere-se a qualquer um dos slots em uma placa-mãe que pode
                        conter uma placa de expansão para expandir a funcionalidade do computador, como uma placa de
                        vídeo, placa de rede ou placa de som.
                    </p>

                    <p>Socket para processador- O socket da placa-mãe nada mais é que o local onde o processador será
                        instalado.
                    </p>

                    <p>Socket para memória RAM- Sua função é ligar os periféricos a placa mãe, no caso, a memória RAM,
                        onde o tipo de soquete impacta na velocidade do componente</p>

                    <p>Dispositivos onboard- "Onboard" significa “na placa”, portanto, quando você ouve falar que um
                        computador “é onboard”, quer dizer que sua placa-mãe tem um ou mais dispositivos integrados.
                    </p>

                    <p>Recomendação: <a
                            href="https://pt.aliexpress.com/item/1005001685997281.html?spm=a2g0o.productlist.0.0.650255c4Y8gW10&algo_pvid=9bf993bf-8fcf-455b-96f6-0bdc8b40cf80&algo_exp_id=9bf993bf-8fcf-455b-96f6-0bdc8b40cf80-0&pdp_ext_f=%7B%22sku_id%22%3A%2212000017131956946%22%7D&pdp_pi=-1%3B2316.52%3B-1%3B-1%40salePrice%3BBRL%3Bsearch-mainSearch"
                            class="links" target="_blank">ASUS_tuf_gaming/b550m</a></p>

                </div>


            </div>

            <img src="/assets/placamae.png" alt="">

        </main>

        <%- include('../partials/footer') %> 

</body>

</html>