<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../partials/head_pecas', { title: 'Processador' }) %> 
</head>

<body>

    <%- include('../partials/header', { arrow: true}) %>

        <main>

            <div class="main-content">
                <div class="text-long">

                    <h1><strong>Processador</strong></h1>
                    <p>Cache- A memória cache funciona como uma biblioteca de acesso rápido que existe dentro de
                        computadores e dispositivos móveis. Ela tem o objetivo de guardar dados, informações e processos
                        temporários acessados com frequência e assim agilizar o processo de uso no momento em que são
                        requisitados pelo usuário.
                    </p>

                    <p>Núcleo- Um núcleo de processador é um indivíduo processador num CPU. Muitos computadores hoje têm
                        multi-core processadores, o que significa que a CPU contém mais de um núcleo.

                    </p>

                    <p>Frequência- Frequência significa mais operações em determinado período de tempo. Uma CPU com
                        velocidade de clock de 3,2 GHz executa 3,2 bilhões de ciclos por segundo.

                    </p>

                    <p>Recomendação: <a
                            href="https://pt.aliexpress.com/item/1005001685997281.html?spm=a2g0o.productlist.0.0.650255c4Y8gW10&algo_pvid=9bf993bf-8fcf-455b-96f6-0bdc8b40cf80&algo_exp_id=9bf993bf-8fcf-455b-96f6-0bdc8b40cf80-0&pdp_ext_f=%7B%22sku_id%22%3A%2212000017131956946%22%7D&pdp_pi=-1%3B2316.52%3B-1%3B-1%40salePrice%3BBRL%3Bsearch-mainSearch"
                            class="links">Amd_ryzen_7/5800x/r7/5800x_cpu</a></p>
                </div>

            </div>

            <img src="/assets/processador.png" alt="">

        </main>

        <%- include('../partials/footer') %> 

</body>

</html>