<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../partials/head_pecas', { title: 'Memória RAM' }) %> 
</head>

<body>

    <%- include('../partials/header', { arrow: true}) %>

        <main>

            <div class="main-content">
                <div class="text-long">
                    <h1><strong>Memória RAM</strong></h1>
                    <p>Modelos- Existem 3 memórias RAM no mercado, basicamente: DDR DDR2 e DDR3, sendo a DDR3 a mais
                        potente
                        no mercado atual. Cada um destes tipos de memória tem uma velocidade, está sendo medida em MHz.
                    </p>

                    <p>Capacidade- O limite principal é a placa-mãe, porque ao não reconhecer a RAM, esta memória não
                        será
                        utilizada pelo sistema operacional.
                    </p>

                    <p>Performance- Quanto mais memória RAM, melhor o desempenho do computador, que consegue acessar
                        mais
                        informações com rapidez.
                    </p>


                    <p>Recomendação: <a target="_blank"
                            href="https://www.terabyteshop.com.br/produto/12330/memoria-ddr4-geil-evo-potenza-8gb-3000mhz-black-gapb48gb3000c16asc"
                            class="links">Memória_DDR4_Geil_Evo_Potenza/8GB/3000MHz/Black</a></p>

                </div>
            </div>
            <img src="/assets/RAM.png" alt="">

        </main>

        <%- include('../partials/footer') %> 

</body>

</html>