<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../global.css">
    <link rel="shortcut icon" href="/assets/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="../home.css">
    <title>Memória Secundária - GORDAO</title>
</head>

<body>

    <%- include('../partials/header') %>

        <main>

            <div class="main-content">

                <div class="text-long">

                    <h1><strong>Memória Secundária</strong></h1>
                    <p>HD- O HD ou Disco Rígido serve para armazenar permanentemente arquivos, programas, jogos e todo tipo de conteúdo que se deseja manter no computador.
                    </p>
                    <p>SSD- O SSD é um tipo de armazenamento mais rápido e silencioso que os HDD convencionais de computadores e notebooks.
                    </p>
                    <p>Micro SD- Pequeno e poderoso. Como pudemos observar, um cartão microSD é pequeno, mas bastante flexível e útil. Com ele podemos transferir dados entre dispositivos, aumentar a capacidade de nossos smartphones, rodar centros de mídia, ferramentas de recuperação, programas e até sistemas operacionais inteiros.
                    </p>
                    <p>PenDrive- PenDrive é um dispositivo constituído por uma memória flash e que possui a função de armazenamento de dados.
                    </p>
                    <p>Recomendação:<a
                            href="https://pt.aliexpress.com/item/1005001702892978.html"
                            class="links" target="_blank">Kingfast ssd m2 nvme 128gb 256gb 512gb 1tb unidade de estado sólido m.2 ssd nvme pcie 2280</a>
                    </p>

                </div>

            </div>

            <img src="/assets/ssd.png" alt="">

        </main>
</body>

</html>