<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../partials/head_pecas', { title: 'SSD' }) %> 
</head>

<body>

    <%- include('../partials/header', { arrow: true}) %>

        <main>

            <div class="main-content">

                <div class="text-long">

                    <h1><strong>Memória Secundária</strong></h1>
                    <p>HD- O HD ou Disco Rígido serve para armazenar permanentemente arquivos, programas, jogos e todo tipo de conteúdo que se deseja manter no computador.
                    </p>
                    <p>SSD- O SSD é um tipo de armazenamento mais rápido e silencioso que os HDD convencionais de computadores e notebooks.
                    </p>
                    <p>Micro SD- Pequeno e poderoso. Como pudemos observar, um cartão microSD é pequeno, mas bastante flexível e útil. Com ele podemos transferir dados entre dispositivos, aumentar a capacidade de nossos smartphones, rodar centros de mídia, ferramentas de recuperação, programas e até sistemas operacionais inteiros.
                    </p>
                    <p>PenDrive- PenDrive é um dispositivo constituído por uma memória flash e que possui a função de armazenamento de dados.
                    </p>
                    <p>Recomendação:<a
                            href="https://pt.aliexpress.com/item/1005001702892978.html"
                            class="links" target="_blank">Kingfast ssd m2 nvme 128gb 256gb 512gb 1tb unidade de estado sólido m.2 ssd nvme pcie 2280</a>
                    </p>

                </div>

            </div>

            <img src="/assets/ssd.png" alt="">

        </main>

        <%- include('../partials/footer') %> 

</body>

</html>